
<!doctype html>
<html lang="en" ng-app="adminApp">

<head>
  <title>后台管理界面</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="css/main.css" />
  <script src="framework/jquery-1.11.1.js"></script>
  <!-- <link rel="stylesheet" href="css/src.css" /> -->
  <script src="framework/angular.js"></script>
  <script src="framework/angular-ui-router.js"></script>
  <script src="framework/jQuery.md5.js"></script>
</head>
<!-- <body ng-controller='UserCtrl'> -->
<body>

  <div class="wrap" ui-view></div>

  <script src="js/main.js"></script>
  
</body>
</html>
