.icon{
	display:block;
}

.i_bind_map{
	background: url("../images/i_bind_map.png");
}

.i_close_red{
	background: url("../images/i_close_red.png");
}

.i_refresh_n{
	background: url("../images/i_refresh_n.png");
}

.i_user{
	background: url("../images/i_user.png");
}